.about-us {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    padding: 0 45px;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

.about-us h2 {
  margin: 130px 0 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $link-black;

  @media (max-width: 1023px) {
    margin: 30px 0 60px;
  }

  @media (max-width: 767px) {
    margin: 20px 0 40px;
    text-align: center;
    width: 100%;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  max-width: 970px;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid $slider-arrow;
}

.about-us__item {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 112px;

  &:not(:last-child) {
    border-bottom: 1px solid $slider-arrow;
  }

  @media (max-width: 767px) {
    min-height: 83px;
  }
}

.about-us__item h3 {
  margin: 46px 0 0 38px;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 140%;
    padding-right: 60px;
    padding-left: 25px;
    margin: 25px 0 0 0;
  }
}

.about-us__text {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  width: 100%;
  max-width: 527px;
  margin: 0 0 49px 50px;

  @media (max-width: 767px) {
    font-size: 14px;
    padding: 0 60px 0 25px;
    margin: 25px 0;
  }
}

.about-us__text--hidden {
  display: none;
}

.about-us__item-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px 0;
  margin: 30px 50px 0 38px;
  border: none;
  background-color: $white;
  text-align: left;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;

  & svg {
    stroke: $slider-arrow;
  }

  &:hover svg {
    stroke: $link-black;
  }

  &:active svg {
    stroke: $slider-arrow;
  }

  @media (max-width: 1023px) {
    & svg {
      width: 23px;
      height: 12px;
    }
  }

  @media (max-width: 767px) {
    top: 25px;
    right: 25px;

    & svg {
      width: 20px;
      height: 10px;
    }
  }
}

.about-us__item-button--open {
  & svg {
    transform: rotate(180deg);
  }
}
