.catalog__wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1231px;
  margin-top: 80px;

  @media (max-width: 1220px) {
    padding: 0 20px;
  }

  @media (max-width: 1023px) {
    margin-top: 50px;
    flex-direction: column;
    padding: 0 15px 0 45px;
    align-items: center;
  }

  @media (max-width: 767px) {
    padding: 0;
    align-items: center;
    margin-top: 41px;
  }
}

.catalog__filter {
  max-width: 250px;
  width: 100%;
  margin: 0 51px 0 30px;

  @media (max-width: 1023px) {
    max-width: none;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    z-index: 10;
  }
}

.catalog__filter--hidden {
  display: block;

  @media (max-width: 1023px) {
    display: none;
  }
}

.catalog__tablet-show-filter {
  display: none;

  @media (max-width: 1023px) {
    cursor: pointer;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 678px;
    min-height: 68px;
    margin-bottom: 50px;
    margin-right: 30px;
    border: 1px solid $slider-arrow;
    background-color: $slider-arrow;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $white;

    &:hover {
      background-color: $white;
      color: $slider-arrow;
    }

    &:active {
      background-color: $slider-arrow;
      color: $white;
    }

    @media (max-width: 767px) {
      margin: 0 0 40px;
    }

    @media (max-width: 400px) {
      width: 290px;
      margin: 0 auto 40px;
    }
  }
}

.catalog__filter form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;

  @media (max-width: 1023px) {
    position: absolute;
    max-width: 458px;
    width: 100%;
    min-height: 700px;
    box-shadow: 0px 5px 32px rgba($black, 0.24);
    left: 50%;
    top: 10%;
    margin-left: -229px;
    background-color: $white;
  }

  @media (max-width: 767px) {
    max-width: 280px;
    margin-left: -140px;
  }
}

.catalog__close-form {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: none;
  position: absolute;
  top: -16px;
  right: -16px;
  padding: 0;
  border: 0;
  background-color: transparent;
  z-index: 1;

  @media (max-width: 1023px) {
    display: block;
  }

  &:hover > svg {
    stroke: $slider-arrow;
  }
}

.circle {
  fill: $black;
}

.close {
  fill: $white;
}

.catalog__form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 68px;
  border: 1px solid $slider-arrow;
  background-color: $white;
  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    border: none;
    border-bottom: 1px solid $slider-arrow;
  }
}

.catalog__filter-show-btn {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  align-items: center;
  color: $link-black;
  padding: 10px 25px;
  margin: 14px 0 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: $white;
  border: none;

  & svg {
    stroke: $slider-arrow;
    width: 15px;
    height: 8px;

    &:hover {
      stroke: $black;
    }

    &:active {
      stroke: $slider-arrow;
    }
  }
}

.catalog__filter-show-btn--open {
  & svg {
    transform: rotate(180deg);
  }
}

//* Блок с чекбоксами по продукту *//

.catalog__product-checkbox {
  margin: 0 0 25px 33px;
  display: flex;
  flex-direction: column;
}

.catalog__product-checkbox-wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.catalog__product-checkbox-wrapper input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog__product-checkbox-wrapper label {
  position: relative;
  cursor: pointer;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $link-black;
  padding: 0 0 0 25px;

  &:hover {
    color: $slider-arrow;
  }

  &:active {
    color: $link-black;
  }
}

.catalog__product-checkbox-wrapper input + label::before {
  width: 16px;
  height: 15px;
  border: 1px solid $slider-arrow;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: $white;
}

.catalog__product-checkbox-wrapper input:checked + label::after {
  width: 16px;
  height: 15px;
  border: 1px solid $slider-arrow;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: $slider-arrow;
}

.catalog__product-checkbox-wrapper input:focus + label {
  outline: 1px solid $slider-arrow;
}

//* Блок с чекбоксами по материалам *//

.catalog__material-checkbox {
  margin: 0 0 29px 35px;
  display: flex;
  flex-direction: column;
}

.catalog__material-checkbox-wrapper:not(:last-child) {
  margin-bottom: 15px;
}

.catalog__material-checkbox-wrapper input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog__material-checkbox-wrapper label {
  position: relative;
  cursor: pointer;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $link-black;
  padding: 0 0 0 25px;

  &:hover {
    color: $slider-arrow;
  }

  &:active {
    color: $link-black;
  }
}

.catalog__material-checkbox-wrapper input + label::before {
  width: 16px;
  height: 15px;
  border: 1px solid $slider-arrow;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: $white;
}

.catalog__material-checkbox-wrapper input:checked + label::after {
  width: 16px;
  height: 15px;
  border: 1px solid $slider-arrow;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: $slider-arrow;
}

.catalog__material-checkbox-wrapper input:focus + label {
  outline: 1px solid $slider-arrow;
}

//* Блок с чекбоксами по колекциям *//

.catalog__collection-checkbox {
  margin: 0 0 29px 35px;
  display: flex;
  flex-direction: column;
}

.catalog__collection-checkbox-wrapper:not(:last-child) {
  margin-bottom: 15px;
}

.catalog__collection-checkbox-wrapper input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog__collection-checkbox-wrapper label {
  position: relative;
  cursor: pointer;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $link-black;
  padding: 0 0 0 25px;

  &:hover {
    color: $slider-arrow;
  }

  &:active {
    color: $link-black;
  }
}

.catalog__collection-checkbox-wrapper input + label::before {
  width: 16px;
  height: 15px;
  border: 1px solid $slider-arrow;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: $white;
}

.catalog__collection-checkbox-wrapper input:checked + label::after {
  width: 16px;
  height: 15px;
  border: 1px solid $slider-arrow;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: $slider-arrow;
}


.catalog__collection-checkbox-wrapper input:focus + label {
  outline: 1px solid $slider-arrow;
}
//* Блок с ценой *//

.catalog__slider-range {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: $card-background;
  margin-bottom: 51px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__slider-range-background {
  width: 90px;
  height: 2px;
  background-color: $slider-arrow;
  position: relative;
}

.catalog__slider-range-circle {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: $slider-arrow;
  top: -6px;
}

.catalog__slider-range-circle div {
  color: $link-black;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  margin-top: 17px;
  margin-bottom: 23px;
}

.catalog__slider-range-circle--left {
  left: 0%;
}

.catalog__slider-range-circle--right {
  right: 0%;
}

.catalog__material-checkbox--hidden {
  display: none;
}

.catalog__collection-checkbox--hidden {
  display: none;
}

//* Кнопки формы *//

.catalog__btn-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  align-content: center;
  background-color: $white;
  margin-bottom: 20px;
}

.catalog__btn {
  cursor: pointer;
  border: 1px solid $slider-arrow;
  padding: 0;
  min-height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  background-color: transparent;
  margin-top: 25px;

  @media (max-width: 1023px) {
    max-width: 362px;
    width: 100%;
  }

  @media (max-width: 767px) {
    max-width: 230px;
  }
}

.catalog__btn--aply {
  color: $white;
  background-color: $slider-arrow;

  &:hover {
    background-color: $white;
    color: $link-black;
  }

  &:active {
    color: $white;
    background-color: $slider-arrow;
  }
}

.catalog__btn--reset {
  color: $link-black;

  &:hover {
    background-color: $slider-arrow;
    color: $white;
  }

  &:active {
    color: $link-black;
    background-color: $white;
  }
}

//* Карточки товаров *//

.catalog__list {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: 1231px) and (min-width: 1024px) {
    justify-content: center;
  }

  @media (max-width: 1023px) {
    max-width: none;
    justify-content: center;
  }

  @media (max-width: 767px) {
    gap: 0;
    max-width: 637px;
  }
}

.catalog__list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 30px;
  min-height: 374px;
  overflow: hidden;

  @media (max-width: 1231px) and (min-width: 1024px) {
    width: 190px;
    margin-right: 20px;
    min-height: 300px;


    & img {
      object-fit: cover;
      width: 200px;
      height: 200px;
    }
  }

  @media (max-width: 1023px) {
    margin: 0;
    min-height: 310px;
    padding-right: 30px;

    & img {
      width: 206px;
      height: 208px;
    }
  }

  @media (max-width: 767px) {
    max-width: 160px;
    width: 100%;
    padding: 0 15px;
    min-height: 244px;


    & img {
      width: 130px;
      height: 136px;
    }
  }
}

.catalog__list-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__list-item h2 {
  color: $link-black;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin: 17px 0 0 0;
  text-align: center;

  @media (max-width: 767px) {
    margin: 13px 0 0;
  }
}

.catalog__list-item p {
  color: $link-black;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  margin: 5px 0 20px 0;
  padding: 0;
  text-align: center;

  @media (max-width: 767px) {
    margin: 7px 0 25px 0;
  }
}
