.insta-pic {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.insta-pic h2 {
  margin: 107px 0 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $link-black;

  @media (max-width: 1023px) {
    margin: 75px 0 0 0;
  }

  @media (max-width: 767px) {
    margin: 56px 0 0 0;
  }
}

.insta-pic a {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin: 35px 0 0 0;
  display: flex;
  text-decoration: none;
  padding: 0 0 5px 0;
  border-bottom: 1px solid $slider-arrow;
  color: $link-black;

  &:hover {
    color: $placeholder;
  }

  &:active {
    color: $slider-arrow;
  }

  @media (max-width: 1023px) {
    margin: 19px 0 0;
  }
}

.insta-pic__list {
  list-style: none;
  height: 412px;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: auto 27px auto 27px auto 27px auto;
  grid-template-rows: 230px 34px 150px;
  margin: 52px 0 132px;

  @media (max-width: 1220px) {
    padding: 0 20px;
  }

  @media (max-width: 1023px) {
    padding: 0;
    grid-template-columns: 133px 16px 231px 16px 133px 16px 133px;
    grid-template-rows: 133px 16px 87px;
    margin: 60px 0 80px;
    justify-content: center;
    height: auto;
  }

  @media (max-width: 767px) {
    padding: 0;
    margin: 46px 0 71px;
    grid-template-columns: 133px 24px 133px;
    grid-template-rows: 133px 27px 87px 27px 87px;
  }
}

.insta-pic__item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.insta-pic__item--small {
  grid-row-start: 3;

  @media (max-width: 1023px) {
    & img {
      max-width: 133px;
    }
  }
}

.insta-pic__item--middle {
  grid-row-start: 1;

  @media (max-width: 1023px) {
    & img {
      max-width: 133px;
    }
  }
}

.insta-pic__item--big {
  grid-column: 3 / 4;
  grid-row-start: 1;
  grid-row-end: -1;

  @media (max-width: 1023px) {
    & img {
      max-width: 231px;
    }
  }

  @media (max-width: 767px) {
    grid-column-start: 3;
    grid-row-end: -3;
  }
}

.insta-pic__item--one {
  grid-column: 1 / 2;
}

.insta-pic__item--two {
  grid-column: 1 / 2;
}

.insta-pic__item--four {
  grid-column: 5 / 6;

  @media (max-width: 767px) {
    display: none;
  }
}

.insta-pic__item--five {
  grid-column: 7 / 8;

  @media (max-width: 767px) {
    display: none;
  }
}

.insta-pic__item--six {
  grid-column: 5 / 6;

  @media (max-width: 767px) {
    grid-column: 1 / 2;
    grid-row-start: 5;
  }
}

.insta-pic__item--seven {
  grid-column: 7 / 8;

  @media (max-width: 767px) {
    grid-column-start: 3;
    grid-row-start: 5;
  }
}
