.main-articles {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: 1190px) {
    padding: 0 20px;
  }

  @media (max-width: 1023px) {
    padding: 0 45px;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
    margin: 0;
  }
}

.main-articles h2 {
  display: none;

  @media (max-width: 1023px) {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $link-black;
    text-align: center;
    margin: 0 0 35px;
  }
}

.main-articles__link-all-article {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-decoration: none;
  border-bottom: 1px solid $slider-arrow;
  display: block;
  width: 66px;
  padding: 0 0 6px;
  color: $link-black;
  margin: 187px auto 0;
  margin-bottom: 70px;
  text-align: center;

  &:hover {
    color: $placeholder;
  }

  &:active {
    color: $link-black;
  }

  @media (max-width: 1023px) {
    margin: 0 auto 60px;
  }

  @media (max-width: 767px) {
    margin: 0 auto 50px;
  }
}

.main-articles__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: 1240px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.main-articles__left-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 570px;
  width: 100%;

  @media (max-width: 1023px) {
    max-width: none;
  }
}

.main-articles__left-list-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  & img {
    display: block;
    width: 100%;
    height: 100%;

    @media (max-width: 1023px) {
      width: 339px;
      height: 300px;
    }

    @media (max-width: 767px) {
      width: 290px;
      height: 256px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @media (max-width: 1023px) {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 1023px) {
    flex-wrap: nowrap;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.main-articles__left-list-item-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 50px;
  background-color: $login;
  max-width: 285px;
  width: 100%;

  @media (max-width: 1023px) {
    max-width: none;
    min-width: 399px;
  }

  @media (max-width: 767px) {
    max-width: 290px;
    min-width: 200px;
  }
}

.main-articles__left-list-item-text p {
  color: $disable-btn;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  margin: 71px 0 0 0;

  @media (max-width: 767px) {
    margin: 49px 0 0 0;
  }
}

.main-articles__left-list-item-text h3 {
  text-align: center;
  color: $black;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  margin: 25px 0 0 0;
}

.main-articles__left-list-item-text a {
  color: $link-black;
  text-decoration: none;
  display: flex;
  padding-bottom: 10px;
  margin: 50px 0 20px 0;
  border-bottom: 1px solid $slider-arrow;

  &:hover {
    color: $slider-arrow;
  }

  &:active {
    color: $link-black;
  }
}

.main-articles__right {
  margin: 0 0 0 30px;

  @media (max-width: 1190px) {
    margin: 30px 0 0 0;
  }

  @media (max-width: 1023px) {
    margin: 50px 0 0 0;
  }
}

.main-articles__right-list {
  list-style: none;
  padding: 0;
  max-width: 570px;
  width: 100%;
  position: relative;

  & img {
    display: block;

    @media (max-width: 1023px) {
      width: 339px;
      height: 300px;
      object-fit: cover;
    }

    @media (max-width: 767px) {
      width: 290px;
      height: 256px;
    }
  }

  @media (max-width: 1023px) {
    max-width: none;
  }
}

.main-articles__item--big {
  height: 630px;
}

.main-articles__right-list-item {
  @media (max-width: 1023px) {
    display: flex;
    flex-wrap: nowrap;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

.main-articles__right-list-item-text {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 100%;
  max-width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  bottom: 0;
  background-color: $card-background;

  @media (max-width: 1023px) {
    position: relative;
    min-width: 399px;
    width: 100%;
  }

  @media (max-width: 767px) {
    min-width: 200px;
    max-width: 290px;
    min-height: 256px;
  }
}


.main-articles__right-list-item-text p {
  color: $disable-btn;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  margin: 71px 0 0 0;

  @media (max-width: 767px) {
    margin: 50px 0 0 0;
  }
}

.main-articles__right-list-item-text h3 {
  text-align: center;
  color: $black;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  margin: 25px 0 0 0;
}

.main-articles__right-list-item-text a {
  color: $link-black;
  text-decoration: none;
  display: flex;
  padding-bottom: 10px;
  margin: 50px 0 20px 0;
  border-bottom: 1px solid $slider-arrow;

  &:hover {
    color: $slider-arrow;
  }

  &:active {
    color: $link-black;
  }
}
