.main-art {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 463px;
  width: 100%;
  margin: 0 auto;
  background-color: $slider-arrow;
  background-image: url('../img/main-img-filter.png') ,url('../img/main-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/main-img-filter.png'), url('../img/main-img@2x.jpg');
    background-position: center;
    background-size: cover;
  }

  @media (max-width: 1023px) {
    background-image: url('../img/main-img-filter.png'), url('../img/main-img-tablet.jpg');
    background-size: cover, cover;

    @media (min-resolution: 2dppx) {
      background-image: url('../img/main-img-filter.png'), url('../img/main-img-tablet@2x.jpg');
    }
  }

  @media (max-width: 769px) and (min-width: 768px) {
    justify-content: flex-start;
  }

  @media (max-width: 767px) {
    background-image: url('../img/main-img-filter.png'), url('../img/main-img-mob.jpg');
    background-size: cover, cover;

    @media (min-resolution: 2dppx) {
      background-image: url('../img/main-img-filter.png'), url('../img/main-img-mob@2x.jpg');
    }
  }
}

.main-art h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0.03em;

  @media (max-width: 769px) and (min-width: 768px) {
    margin: 182px 0 0 -13px;
  }

  @media (max-width: 767px) {
    font-size: 38px;
    margin-top: 5px;
  }
}

.main-art p {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 38px;
  line-height: 130%;
  color: $white;

  @media (max-width: 769px) and (min-width: 768px) {
    margin: -7px 0 0 -17px;
  }

  @media (max-width: 767px) {
    font-size: 34px;
  }
}
