.main-product {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    margin: 0;
    padding: 0;
  }
}

.main-product__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  margin-top: 121px;

  @media (max-width: 1023px) {
    margin-top: 69px;
  }

  @media (max-width: 767px) {
    margin-top: 60px;
  }
}

.main-product__text h2 {
  text-align: center;
  margin: 0 0 23px 0;
  color: $link-black;
  font-size: 34px;
  line-height: 130%;
}

.main-product__text a {
  display: block;
  font-style: normal;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $link-black;
  text-decoration: none;
  border-bottom: 1px solid $slider-arrow;

  &:hover {
    color: $placeholder;
  }

  &:active {
    color: $link-black;
  }
}

.main-product__slider-btn {
  display: flex;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 29px;
  height: 9px;
  background-color: transparent;
  stroke: $slider-arrow;
  position: absolute;


  &:hover {
    stroke: $black;
  }

  &:active {
    stroke: $placeholder;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.main-product__slider-btn--left {
  top: 46%;
  left: 0;
  transform: rotate(180deg);
}

.main-product__slider-btn--right {
  top: 46%;
  right: 0;
}

.main-product__slider {
  margin-top: 60px;
  position: relative;

  @media (max-width: 1300px) {
    margin: 60px 0 0;
  }

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 65px;
  }

  @media (max-width: 767px) {
    margin: 41px 0 50px;
  }
}

.main-product__slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    max-width: 678px;
    width: 100%;

  }

  @media (max-width: 767px) {
    max-width: 451px;
  }

  @media (max-width: 440px) {
    max-width: 286px;
  }
}

.main-product__slider-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 270px;
  width: 100%;

  @media (max-width: 1200px) {
    margin-right: 20px;
    max-width: 270px;
  }

  @media (max-width: 1023px) {
    max-width: 324px;
  }
}

.main-product__slider-item img {
  display: block;
  width: 100%;

  @media (max-width: 1023px) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: 767px) {
    width: 130px;
    height: 136px;
  }
}

.main-product__item-name {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $link-black;
  width: 100%;
  text-align: center;
  margin: 25px 0 0 0;

  @media (max-width: 767px) {
    margin: 20px 0 0 0;
  }
}

.main-product__item-price {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: $link-black;
  margin: 4px 0 0 0;
}

.main-product__slider-button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    margin: 50px 0 80px;
  }

  @media (max-width: 767px) {
    margin: 40px 0 70px;

    & button {
      display: none;
    }
  }
}

.main-product__slider-counter-mob {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    align-content: center;
    justify-content: center;
    color: $link-black;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    & div:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.main-product__slider-toogle {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  border: none;
  color: $disable-btn;
  height: 20px;
  background-color: transparent;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &:hover {
    color: $link-black;
  }

  &:active {
    color: $link-black;
  }
}

.main-product__slider-toogle--active {
  color: $link-black;
}

.main-product__slider--tablet {
  display: none;

  @media (max-width: 1023px) {
    display: flex;
  }
}

.main-product__bottom-margin {
  margin-bottom: 130px;

  @media (max-width: 1023px) {
    margin: 0;
  }
}

/* Слайдер */

.main-product__slider-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}

.slick-arrow{
  z-index: 1;
  font-size: 0;
  display: flex;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 29px;
  height: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.main-product__slider-list .slick-arrow.slick-next {
  top: -25%;
  background-image: url('../img/right.svg');
  right: 0;

  &:hover {
    background-image: url('../img/hover-right.svg');
  }

  &:active {
    background-image: url('../img/right.svg');
  }

  @media (max-width: 1365px) {
    right: 20px;
  }

  @media (max-width: 1023px) {
    right: 45px;
    top: -93px;
  }
}

.main-product__slider-list .slick-arrow.slick-prev {
  top: -27%;
  background-image: url('../img/left.svg');
  left: 20px;

  &:hover {
    background-image: url('../img/hover-left.svg');
  }

  &:active {
    background-image: url('../img/left.svg');
  }

  @media (max-width: 1367px) {
    top: -25%;
    left: 0;
  }

  @media (max-width: 1365px) {
    left: 20px;
  }

  @media (max-width: 1023px) {
    left: 45px;
    top: -93px;
  }
}

.main-product__slider-list .slick-dots {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  margin-top: 53px;

  @media (max-width: 1023px) {
    margin-top: 45px;
  }

  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

.main-product__slider-list .slick-dots li {
  list-style: none;
  margin: 0 5px 0 0;
}

.main-product__slider-list .slick-dots button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  border: none;
  color: $disable-btn;
  height: 20px;
  background-color: transparent;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  &:hover {
    color: $link-black;
  }

  &:active {
    color: $disable-btn;
  }
}

.main-product__slider-list .slick-active > button {
  color: $link-black;
}

.slick-disabled {
  opacity: 0.2;
}

.slick-list {
  @media (max-width: 1200px) {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
  }

  @media (max-width: 1023px) {
    max-width: none;
    width: auto;
    margin: 0;
  }
}

.main-product__slider-dotted {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    margin-top: 40px;
    color: $link-black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    & div:nth-child(2) {
      margin: 0 10px;
    }
  }
}

.slick-slide {
  @media (max-width: 1367px) and (min-width: 1365px) {
    width: 312px !important;
    margin-right: 30px !important;

    & > div {
      width: 270px !important;
    }
  }

  @media (max-width: 1200px) and (min-width: 1024px) {
    margin-right: 30px;
    width: 222px !important;

    & img {
      object-fit: cover;
    }

    & > div {
      width: 222px !important;
    }
  }

  @media (max-width: 769px) and (min-width: 768px) {
    margin-right: 30px !important;
    width: 324px !important;
  }

  @media (max-width: 322px) {
    width: 130px !important;
    margin-right: 14px;

    &:nth-child(1) {
      margin-right: 24px;
    }
  }
}
