$white: #ffffff;
$black: #000000;
$light-grey: #F6F5F4;
$placeholder: #9B9997;
$link-black: #1D1613;
$slider-arrow: #A87B62;
$disable-btn: #9B9997;
$card-background: #F0EAE4;
$drop-menu: #A87B62;
$login: #F0EAE4;
